body{
    background-image: url('./field.png');
    background-repeat: no-repeat;
    position: relative;
    width: 594px;
    height: 392px;
}
img{
    position: absolute;
    width: 60px;
}

button {
    position: absolute;
    bottom: 32px;
    right: 15px;
    background-color: darkred;
    color: white;
    border:none;
    padding: 5px;
    border-radius: 5px;
}