<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./page2.css">
    <title>Document</title>
</head>

<body>

    <div class="clearfix">
        <nav>
            <h1><span> BUILD</span> ESTATE</h1>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">CONTACT US</a></li>
            </ul>
        </nav>

        <header>
            <h2>WE SHAPE OUR BUILDINGS <br> THEREAFTER THEY SHAPE US</h2>
            <a href="">Read More</a>
        </header>
    </div>

    <main>
        <section>
            <h3>Who We Are<br>______</h3>

            <h4>Welcome To Our Build Estate</h4>
            <p><q>If you can build buildings, why sit on the beach? We always think of buildings in their settings, but
                    so do other architects.</q></p>
            <ul>
                <li>International Office Buildings.</li>
                <li>Apartment on Premier House.</li>
                <li>Prices Are Low & Parking Allowance.</li>
                <li>Best Design Architecture.</li>
            </ul>
            <img src="./img/about.jpg" alt="">
            <h4>We Make Your Dream Home</h4>
            <p><q>For decades engineers have stood accused that their buldings do not have any cultural value. We have
                    attempted to liberate engineering of this accusation.</q></p>
            <ul>
                <li>Great Engineers Ideas.</li>
                <li>Planning For Future Model Buildings.</li>
                <li>Modern Apartment With Large Space.</li>
                <li>New Residential Complex Features.</li>
            </ul>
        </section>

        <section>
            <h3>What People Say<br>______</h3>
            <img src="" alt="">
            <div>
                <img src="./img/t1.jpg" alt="">
                <h5>WILLIAMSON<br>*****</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minima sint odio omnis est
                    ducimus temporibus obcaecati inventore quod error vero voluptatem sed, debitis unde!</p>
            </div>
            <div>
                <img src="./img/t2.jpg" alt="">
                <h5>WILLIAMSON<br>*****</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minima sint odio omnis est
                    ducimus temporibus obcaecati inventore quod error vero voluptatem sed, debitis unde!</p>
            </div>
            <div>
                <img src="./img/t3.jpg" alt="">
                <h5>WILLIAMSON<br>*****</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, minima sint odio omnis est
                    ducimus temporibus obcaecati inventore quod error vero voluptatem sed, debitis unde!</p>
            </div>
        </section>

        <section class="contact">
            <h3>Get In Touch With Us<br>______</h3>
            <div>
                <h4>CONTACT US</h4>
                <p><img src="./img/phone.png" alt=""> +0(12) 000 123 55447</p>
                <p><img src="./img/email.jpg" alt="">mail@example.com</p>
            </div>
            <div>
                <h4>CONNECT US</h4>
                <img src="./img/facebook.ico" alt="">
                <img src="./img/twitter.png" alt="">
                <img src="./img/linkedin.png" alt="">
                <img src="./img/insta.png" alt="">
            </div>
            <div>
                <h4>ADDRESS</h4>
                <p><img src="./img/email.jpg" alt="">1680 Richomd St. <br>Conrenr in, ON N58 3d7,<br> USA</p>
            </div>
            <div>
                <img class="house" src="./img/house.png" alt="">

            </div>
            <iframe src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed"
                frameborder="0"></iframe>
        </section>

        <section>
            <h3>Mail Us<br>______</h3>
            <img src="" alt="">
            <form action="">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="text" name="telephone" placeholder="Telephone">
                <textarea name="message" name="message" cols="30" rows="7" placeholder="Message"></textarea>
                <input type="submit" name="submit" value="Submit">
            </form>
        </section>

    </main>
</body>

</html>