body {
    margin: 0;
}

div.background {
    position: relative;
    background-image: url("./images/bg.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    height: 100vh;
}

img {
    position: absolute;    
    height: 80px;
    left: 45vw;
    bottom: 18vh;
}