body {
    padding-left: 50px;
    font-family: 'Roboto Mono', monospace;
}

img {
    height: 290px;
    vertical-align: top;
}

img:nth-of-type(1) {
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 50px;
}

img:nth-of-type(2) {
    position: absolute;
    right: 10px;
    top:15px;
}

img:nth-of-type(3) {
    position: absolute;
    bottom: 0;
}

p {
    max-width: 1200px;
}

a img.bottomimg {
    height: 100%;
    position: static;
    margin-bottom: 0px;
}

a {
    position: fixed;
    padding: 20px;
    bottom: 0px;
    right: 0px;
}

h1 {
    width: 1000px;
    text-align: center;
    color: #ff4800;
}